@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
  /*
 * Legal Disclaimer
 *
 * These Fonts are licensed only for use on these domains and their subdomains:
 * kulturit.no
 *
 * It is illegal to download or use them on other websites.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2015
 */


/*
 *
 * INSTRUCTIONS
 *
 * Copy the Legal Disclaimer and the @font-faces statements to your regular CSS file.
 * The fonts folder(s) should be placed relative to the regular CSS file.
 *
 * You can use either the complete or subsetted fonts:
 * If you don’t require the entire range of characters, you can use the smaller, subsetted webfonts instead.
 * See "Glyphs & Languages" for an overview of the characters in the *_subsetted.html file in the root directory of this package.
 *
 */


/* Complete */

@font-face {
    font-family: "Akkurat";
    font-weight: normal;
    font-style: normal;
    src:url("https://frontend-components-assets.dimu.org/fonts/Akkurat/fonts/lineto-akkurat-pro-regular.eot");
    src:url("https://frontend-components-assets.dimu.org/fonts/Akkurat/fonts/lineto-akkurat-pro-regular.eot?#iefix") format("embedded-opentype"),
        url("https://frontend-components-assets.dimu.org/fonts/Akkurat/fonts/lineto-akkurat-pro-regular.woff") format("woff");
}

@font-face {
    font-family: "Akkurat";
    font-weight: bold;
    font-style: normal;
    src:url("https://frontend-components-assets.dimu.org/fonts/Akkurat/fonts/lineto-akkurat-pro-bold.eot");
    src:url("https://frontend-components-assets.dimu.org/fonts/Akkurat/fonts/lineto-akkurat-pro-bold.eot?#iefix") format("embedded-opentype"),
        url("https://frontend-components-assets.dimu.org/fonts/Akkurat/fonts/lineto-akkurat-pro-bold.woff") format("woff");
}

@font-face {
    font-family: "Akkurat";
    font-weight: normal;
    font-style: italic;
    src:url("//frontend-components-assets.dimu.org/fonts/Akkurat/fonts/lineto-akkurat-pro-Italic.eot");
    src:url("//frontend-components-assets.dimu.org/fonts/Akkurat/fonts/lineto-akkurat-pro-Italic.eot?#iefix") format("embedded-opentype"),
        url("//frontend-components-assets.dimu.org/fonts/Akkurat/fonts/lineto-akkurat-pro-Italic.woff") format("woff");
}

@font-face {
    font-family: "Akkurat";
    font-weight: bold;
    font-style: italic;
    src:url("//frontend-components-assets.dimu.org/fonts/Akkurat/fonts/lineto-akkurat-pro-boldItalic.eot");
    src:url("//frontend-components-assets.dimu.org/fonts/Akkurat/fonts/lineto-akkurat-pro-boldItalic.eot?#iefix") format("embedded-opentype"),
        url("//frontend-components-assets.dimu.org/fonts/Akkurat/fonts/lineto-akkurat-pro-boldItalic.woff") format("woff");
}

/*
 * Legal Disclaimer
 *
 * These Fonts are licensed only for use on these domains and their subdomains:
 * kulturit.no
 *
 * It is illegal to download or use them on other websites.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2015
 */


/*
 *
 * INSTRUCTIONS
 *
 * Copy the Legal Disclaimer and the @font-faces statements to your regular CSS file.
 * The fonts folder(s) should be placed relative to the regular CSS file.
 *
 * You can use either the complete or subsetted fonts:
 * If you don’t require the entire range of characters, you can use the smaller, subsetted webfonts instead.
 * See "Glyphs & Languages" for an overview of the characters in the *_subsetted.html file in the root directory of this package.
 *
 */


/* Complete */

@font-face {
    font-family: "Akkurat Mono";
    src:url("https://frontend-components-assets.dimu.org/fonts/AkkuratMono/fonts/lineto-akkuratmono-pro-regular.eot");
    src:url("https://frontend-components-assets.dimu.org/fonts/AkkuratMono/fonts/lineto-akkuratmono-pro-regular.eot?#iefix") format("embedded-opentype"),
        url("https://frontend-components-assets.dimu.org/fonts/AkkuratMono/fonts/lineto-akkuratmono-pro-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/*# sourceMappingURL=main.2970efdf.chunk.css.map*/