/*
// auto

@mixin grid-auto() {

	@include row-width(('phone': 2, 'phablet': 4));
	
}

// wide

@mixin grid-wide() {
	
	@include row-width(('phone': 2, 'phablet': 4, 'desktop': 6));
	
}

// full

@mixin grid-full() {

	max-width: $base-max-width;

}

*/
.admin-finder__grid {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 100%;
  width: 100%; }
  .admin-finder__grid > [data-cols] {
    grid-column: auto / span 1; }
  @media (min-width: 720px) {
    .admin-finder__grid {
      grid-template-columns: 50% 50%;
      width: calc(100% - 12px); }
      .admin-finder__grid > [data-cols="2"],
      .admin-finder__grid > [data-cols="3"] {
        grid-column: auto / span 2; } }
  @media (min-width: 1024px) {
    .admin-finder__grid {
      grid-template-columns: 33.33333% 33.33333% 33.33333%;
      width: calc(100% - 24px); }
      .admin-finder__grid > [data-cols="3"] {
        grid-column: auto / span 3; } }
  .admin-finder__grid > [data-rows="1"] {
    grid-row: auto/span 1;
    height: 72px; }
  .admin-finder__grid > [data-rows="2"] {
    grid-row: auto/span 2;
    height: 156px; }
  .admin-finder__grid > [data-rows="3"] {
    grid-row: auto/span 3;
    height: 240px; }
  .admin-finder__grid > [data-rows="4"] {
    grid-row: auto/span 4;
    height: 324px; }
  .admin-finder__grid > [data-rows="5"] {
    grid-row: auto/span 5;
    height: 408px; }
  .admin-finder__grid > [data-rows="6"] {
    grid-row: auto/span 6;
    height: 492px; }
  .admin-finder__grid > [data-rows="7"] {
    grid-row: auto/span 7;
    height: 576px; }
  .admin-finder__grid > [data-rows="8"] {
    grid-row: auto/span 8;
    height: 660px; }
