/*
// auto

@mixin grid-auto() {

	@include row-width(('phone': 2, 'phablet': 4));
	
}

// wide

@mixin grid-wide() {
	
	@include row-width(('phone': 2, 'phablet': 4, 'desktop': 6));
	
}

// full

@mixin grid-full() {

	max-width: $base-max-width;

}

*/
.admin-finder__tabs {
  margin-top: 12px;
  margin-bottom: 12px; }
  .admin-finder__tabs [role="tabpanel"][aria-selected="false"] {
    display: none; }
  .admin-finder__tabs .nav-tabs {
    margin: -6px; }

.admin-finder__tabpanel {
  *zoom: 1;
  margin-top: 12px;
  margin-bottom: 12px; }
  .admin-finder__tabpanel:after {
    content: "";
    display: table;
    clear: both; }
